@import url("https://fonts.googleapis.com/css?family=Fira+Mono|VT323|Vampiro+One");
body {
  font-family: 'Fira Mono', sans-serif;
  background: linear-gradient(darkslateblue, PALETURQUOISE);
  margin: 0;
  padding: 0; }

.app-container {
  width: 100%;
  text-align: center; }

.header {
  background: rgba(0, 0, 0, 0.5);
  background-repeat: repeat;
  width: 100%;
  height: 60px;
  border-top: 8px solid rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 6px;
  justify-content: space-between; }
  .header h1 {
    margin: 0;
    padding: 0 20px;
    color: indianred;
    background: -webkit-linear-gradient(PALETURQUOISE, lawngreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 0 rgba(124, 252, 0, 0.4);
    font-weight: bold;
    font-family: 'VT323';
    font-size: 60px;
    text-transform: uppercase; }
  .header p.claim {
    margin: 0;
    padding: 22px 0;
    display: inline;
    color: lightgray;
    font-size: 14px; }

a.menu {
  color: white;
  text-decoration: none; }
  a.menu:hover {
    text-decoration: underline; }

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 10px;
  padding: 0; }

li {
  width: 30%;
  margin: 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid darkslateblue; }
  li:hover {
    border: 1px solid darkslateblue;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); }

.news-item-head {
  min-height: 100px;
  background: linear-gradient(rgba(124, 252, 0, 0.3), rgba(124, 252, 0, 0.1));
  border-bottom: 1px dashed darkslateblue;
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
  color: darkslateblue; }

.news-item-body {
  padding: 10px;
  min-height: 40px; }

.news-item-footer {
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  padding: 10px; }

p.news-item-excerpt {
  font-size: 14px;
  color: darkslateblue; }

p.news-item-editor,
p.news-item-score,
p.news-item-time {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  padding: 0;
  margin: 0;
  font-size: 10px;
  padding-right: 6px; }
  p.news-item-editor .news-item_group,
  p.news-item-score .news-item_group,
  p.news-item-time .news-item_group {
    display: inline-block;
    width: 50px;
    margin: 2px 0;
    color: darkslateblue;
    font-weight: bold; }
  p.news-item-editor .news-item_element,
  p.news-item-score .news-item_element,
  p.news-item-time .news-item_element {
    display: inline;
    color: darkslateblue; }

p.news-item-type {
  width: auto;
  display: inline;
  padding: 4px 6px;
  margin-right: 8px;
  border-radius: 6px;
  background: darkslateblue;
  color: lawngreen;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px; }

a.news-item-link {
  display: block;
  margin-top: 12px;
  padding: 4px;
  color: darkslateblue;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 2px 0 rgba(72, 61, 139, 0.1); }
  a.news-item-link:hover {
    color: darkslateblue; }

.button-wrapper .button {
  display: block;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  margin: 16px 8px;
  text-decoration: none;
  padding: 4px; }
  .button-wrapper .button:hover {
    color: darkslateblue;
    background: white; }

.dashed {
  border-bottom: 1px dashed white; }

a.link_secondary {
  color: lawngreen;
  text-decoration: none; }
  a.link_secondary:active, a.link_secondary:visited {
    color: PALETURQUOISE; }
  a.link_secondary:hover {
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
