@import url( 'https://fonts.googleapis.com/css?family=Fira+Mono|VT323|Vampiro+One');

// DRACULA
// $primary: darkslateblue;
// $secondary: yellow;
// $tertiary: plum;

// ZOMBIE
// $primary: indigo;
// $secondary: salmon;
// $tertiary: orchid;
 
// GHOUL
// $primary: darkslateblue;
// $secondary: lawngreen;
// $tertiary: PALETURQUOISE;

// WITCH
 $primary: midnightblue;
 $secondary: aquamarine;
 $tertiary: powderblue;


body {
  font-family: 'Fira Mono', sans-serif;
  background: linear-gradient($primary, $tertiary);

  //background-image: url('../public/jonatan-pie-234237.jpg');
  //background-size: cover;
  margin: 0;
  padding: 0;

}

.app-container {
  width: 100%;
  text-align: center;
}

.header {
  background: rgba(black,0.5);

  background-repeat: repeat;
  width: 100%;
  height: 60px;
  border-top: 8px solid rgba(black, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 6px;

  h1 {
    margin: 0;
    padding: 0 20px;
    color: indianred;
    background: -webkit-linear-gradient($tertiary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 0px rgba($secondary, 0.4);
    font-weight: bold;
    font-family: 'VT323';
    font-size: 60px;
    text-transform: uppercase;
  }

  p.claim {
    margin: 0;
    padding: 22px 0;
    display: inline;
    color: lightgray;

    font-size: 14px;
  }
}

a.menu {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

li {
  width: 30%;
  margin: 10px;
  //border-radius: 4px;
  text-align: left;
  background: rgba(#fff, 0.8);
  box-shadow: 0 1px 0 rgba(black, 0.2);
  border: 1px solid $primary;
  &:hover{
    border: 1px solid $primary;

    box-shadow: 0px 4px 0px rgba(black, 0.1);
  }

}

.news-item-head {
  min-height: 100px;
  background: linear-gradient(rgba($secondary, 0.3),rgba($secondary, 0.1));
  border-bottom: 1px dashed $primary;
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
  color: $primary;


}

.news-item-body {
  padding: 10px;
}

.news-item-footer {
  background: rgba(black, 0.05);
  margin-bottom: 0;
  padding: 10px;
}

p.news-item-excerpt {
  font-size: 14px;
  color: $primary;
}

p.news-item-editor,
p.news-item-time ,
p.news-item-score  {
  color: rgba(black, 0.4);
  display: block;
  padding: 0;
  margin: 0;
  font-size: 10px;
  padding-right: 6px;
   
  .news-item_emphasized {
    display: inline;
    color: $primary;
    font-weight: bold;
  }
}


p.news-item-type {
  width: auto;
  display: inline;
  padding: 4px 6px;
  margin-right: 8px;
  border-radius: 6px;
  background: $primary;
  color: $secondary;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}

a.news-item-link{
  display: block;
  margin-top: 12px;
  padding: 4px;
  color: $primary;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 2px 0px rgba($primary, .1);



&:hover{
    color: $primary;
  }

}
  